@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0, 0%, 95%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 24, 99%, 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* DINNextLT fonts removed in favor of Almarai */

@font-face {
  font-family: 'SpaceMono-Regular';
  src: url('/assets/fonts/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  /* Specify the font weight if applicable */
  font-style: normal;
  /* Specify the font style if applicable */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}

@layer utilities {
  /* START of Typography */
  .h-num {
    @apply font-inter text-[72px] font-bold leading-[84px];
  }

  .h1 {
    @apply text-[84px] font-black leading-[84px] tracking-[-0.03em];
  }

  .h2 {
    @apply text-[64px] font-black leading-[64px];
  }

  .h3 {
    @apply text-[48px] font-semibold leading-[56px] tracking-[-0.02em];
  }

  .h4 {
    @apply text-[40px] font-semibold leading-[52px];
  }

  .h5 {
    @apply text-[32px] font-semibold leading-[40px];
  }

  .h6 {
    @apply text-[24px] font-medium leading-[36px];
  }

  .body-1 {
    @apply text-[22px] leading-[36px];
  }

  .body-2 {
    @apply text-[18px] font-semibold leading-[32px];
  }

  .body-3 {
    @apply text-[16px] leading-[28px] tracking-[0.02em];
  }

  .base {
    @apply text-[16px] font-medium leading-[24px] tracking-[0.03em];
  }

  .base-bold {
    @apply text-[16px] font-bold leading-[24px];
  }

  .base-small {
    @apply text-[14px] font-semibold leading-[18px] tracking-[0.03em];
  }

  .small-1 {
    @apply text-[14px] font-semibold leading-[18px] tracking-[0.03em];
  }

  .small-2 {
    @apply text-[12px] font-bold leading-[16px] tracking-[0.3em];
  }

  .small-compact {
    @apply text-[12px] font-semibold leading-[18px] tracking-[0.03em];
  }

  /* END of Typography */

  /* START of Shadow Gradients */
  .shadow-gradient-primary-desktop {
    @apply shadow-md shadow-primary;
  }

  .shadow-gradient-primary-mobile {
    @apply shadow-sm shadow-primary;
  }

  /* END of Shadow Gradients */
  .g1 {
    background: linear-gradient(rgba(196, 203, 245, 0.5), transparent);
  }

  .g2 {
    background: linear-gradient(#3062a3, #19549f);
  }

  .g3 {
    background: linear-gradient(#3c52d9, #0c1838);
  }

  .g4 {
    @apply bg-gradient-to-l from-transparent via-[#f89b04] to-[#fe6601];
  }

  .g5 {
    @apply bg-gradient-to-b from-[#b0b0b0] to-[#c3c2c2];
  }

  .g6 {
    background: linear-gradient(#334679, #0c1838);
  }

  .g7 {
    @apply bg-gradient-to-r from-transparent via-[#f89b04] to-[#fe6601];
  }

  .g8 {
    background: linear-gradient(to right, transparent, #5e5e5e, transparent);
  }

  .g9 {
    background: linear-gradient(#080d27, transparent);
  }

  /* END of Gradients */

  .caption {
    @apply small-2 mb-5 uppercase text-base;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  /*START of Custom Button*/
  .inner-before {
    @apply before:g7 before:absolute before:inset-0 before:opacity-0 before:transition-opacity before:duration-500 before:content-[''];
  }

  .glow-before {
    @apply before:g8 before:absolute before:left-2/3 before:top-0 before:z-10 before:h-0.5 before:w-3/5 before:opacity-0 before:transition-all before:duration-500 before:content-[''] group-hover:before:left-4 group-hover:before:opacity-90;
  }

  .glow-after {
    @apply after:g8 after:absolute after:bottom-0 after:left-4 after:z-10 after:h-0.5 after:w-5/12 after:opacity-0 after:transition-all after:duration-500 after:content-[''] group-hover:after:left-1/4 group-hover:after:opacity-90;
  }

  /* Root Layout */
  .main-content {
    @apply remove-scrollbar h-full flex-1 overflow-auto space-y-5 sm:space-y-10 !important;
  }

  /* Header */
  .header {
    @apply w-full hidden items-center sm:flex py-8 px-6 !important;
  }

  .header-wrapper {
    @apply flex-center min-w-fit !important;
  }

  /* Mobile Navigation */
  .mobile-header {
    @apply flex h-fit justify-between px-4 py-2 sm:hidden !important;
  }

  .mobile-nav {
    @apply flex-1 gap-1 pt-12 !important;
  }

  .mobile-nav-list {
    @apply flex flex-1 flex-col gap-4 !important;
  }

  .mobile-nav-item {
    @apply flex text-light-100 gap-4 w-full justify-center items-center text-[16px] leading-[24px] font-semibold px-6 h-[52px] rounded-full !important;
  }

  .shad-active {
    @apply bg-primary text-white !important;
  }

  .shad-sheet {
    @apply pt-0 !important;
  }

  /* START of FAQ */
  .faq-line_after {
    @apply after:absolute after:-top-1.5 after:left-[calc(50%-5px)] after:z-10 after:size-2.5 after:rounded-md after:border-2 after:border-primary after:bg-orange-300 after:content-[''];
  }

  .faq-glow_before {
    @apply before:absolute before:left-[calc(50%-160px)] before:top-[-160px] before:size-[320px] before:bg-orange-300 before:mix-blend-soft-light before:blur-[200px] before:content-[''];
  }

  .faq-icon {
    @apply before:absolute before:h-0.5 before:w-3 before:bg-gray-200 before:content-[''] after:absolute after:h-0.5 after:w-3 after:rotate-90 after:bg-gray-500 after:transition-all after:duration-500 after:content-[''];
  }

  /* END of FAQ */

  .active-button {
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #fe6601, #ef8606);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.7s;
  }

  .active-button:after {
    content: '';
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }

  .active-button:hover {
    background-image: linear-gradient(-45deg, #fe6601, #648d9a);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }

  .active-button:hover .text {
    background-image: linear-gradient(-45deg, #fe6601, #648d9a);
  }

  /* =====  REACT PHONE NUMBER INPUT OVERRIDES */
  .input-phone {
    @apply mt-2 h-11 rounded-md px-3 shadow-input-phone bg-transparent placeholder:font-din-regular font-din-regular placeholder:text-light-100 !important;
  }
}

.PhoneInput {
  @apply flex items-center;
}

.PhoneInputInput {
  @apply flex flex-1 min-w-0 bg-transparent rounded;
}

.PhoneInputCountryIcon {
  @apply w-[1.5em] h-[1em];
}

.PhoneInputCountryIcon--square {
  @apply flex border border-gray-200 rounded items-center justify-center px-2;
}

.PhoneInputCountryIconImg {
  @apply block w-full h-full;
}

.PhoneInputInternationalIconPhone {
  @apply opacity-80;
}

.PhoneInputInternationalIconGlobe {
  @apply opacity-65;
}

.PhoneInputCountry {
  @apply relative self-stretch flex items-center mx-[0.35em];
}

.PhoneInputCountrySelect {
  @apply absolute top-0 left-0 h-full w-full z-10 border-0 opacity-0 cursor-pointer;
}

.PhoneInputCountrySelectArrow {
  @apply block content-[''] w-[0.3em] h-[0.3em] ml-[0.3em] border-b border-r rotate-45 opacity-45;
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon--border {
  @apply shadow;
}
